@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;

  background: #c8c8c8;
}

header h1 {
  margin: 0px 20px;
  padding: 10px 0px;

  color: #ffffff;
  font-size: 32pt;
}

form {
  margin:  0px 0px;
  padding: 10px 40px;
}

form input[type="text"] {
  font-size: 12pt;
  font-family: "Ricty Diminished Discord", "Courier New", monospace;
  font-weight: bold;
}

#ans {
  margin: 0px;
  padding: 5px 60px;

  color:       #ff0000;
  font-weight: bold;
  font-size:   24pt;
  text-decoration: underline;
}

#copy {
  margin: 0px;
  padding: 0px 30px;
  border-top: solid 1px #000000;

  color:       #0000ff;
  font-family: "Courier New", monospace;
  font-size:   10pt;
  font-weight: bold;
  text-align:  right;
}
