@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;

  background: #c8c8c8;
}

header h1 {
  margin: 0px 20px;
  padding: 10px 0px;

  color: #ffffff;
  font-size: 32pt;
}

p.description {
  margin: 0px 20px;
  padding: 20px  0px 0px 5px;

  color: #ff0000;
  font-size: 14pt;
  font-weight: bold;
  font-style: serif;
}

form {
  margin:  0px 0px;
  padding: 10px 40px;
}

form input[type="text"] {
  font-size: 12pt;
  font-family: "Ricty Diminished Discord", "Courier New", monospace;
  font-weight: bold;
}

form button {
  margin: 0px;
  padding: 5px 10px;
  border: solid 1px #888888;
  border-radius: 5px;

  color: #8000ff;
  background: #ffffff;
  font-size: 12pt;
}

form button:hover {
  color: #7c00e0;
  background: #e8e8e8;
  font-style: italic;
  text-decoration: underline;
}

#ans {
  margin: 0px;
  padding: 5px 60px;

  color:       #ff0000;
  font-weight: bold;
  font-size:   24pt;
  text-decoration: underline;
}


footer {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#copy {
  margin:  0px;
  padding: 10px 30px;
  border-top: solid 1px #000000;

  color:       #0000ff;
  font-family: "Courier New", monospace;
  font-size:   10pt;
  font-weight: bold;
  text-align:  right;
}
